{% block content %}
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield">
            {{ form.email.errors }}
            {{ form.email|add_class:'mdl-textfield__input' }}
            <label class="mdl-textfield__label" for="{{ form.email.id_for_label }}">Email</label>
            {{ form.password.errors }}
            {{ form.password|add_class:'mdl-textfield__input' }}
            <label class="mdl-textfield__label" for="{{ form.password.id_for_label }}">Email</label>
        </div>
    </form>
{% endblock content %}
